/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{
  padding: 30px;
  background-color: #5f7a34;/* Made background color green-ish*/
}

#main-title{
  color: #FFDE7A;
  font-family: monospace;
  text-align: center;
  font-size: 4rem;
  background-color: #7A0019; /* Made background color maroon, pointing out a change to an id*/

}

h2 {
  font-family: "Arial Black";
  text-align: center
}

/* Rule Change 4/5
Our .section rule makes all of the sections have a smaller dotted
black border around them and have a bigger space in between the bottom
of each.
 */
.section {
  border-radius: 25px;
  padding: 20px;
  border: 2px dotted; /* Make border px to 2, made style dotted */
  margin: auto;
  margin-bottom: 15px; /* Added margin-bottom, to add space between div*/
  max-width: 870px;
}

/* Rule Change 3/5
This rule uses grouping of pslo, courses, faculty, and validation ids
to make the font-family of each section the same, adding unity and neatness
to the page's look.
 */
#pslo, #courses, #faculty, #validation{
  font-family: Arial;
}

#courses {
  background-color: #FFDE7A;
}

#faculty, #pslo {
  background-color: #f9f7f6;
}

#faculty>ul>li {
  display: inline-block;
  padding: 30px;
}

#faculty-list {
  padding-left: 0
}

img.pic {
  height: 150px;
  border: 4px solid #000000;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7A0019; /* changed color*/
}

#style li {
  float: top; /*changed it to top*/
}

/* Rule Change 5/5
This rule makes the style list look different from style1.css.
It doesn't havea fixed position, its spacing is smaller, and
its coloring style is more appropriate for the rest of the page.
 */
#style li a {
  display: block;
  color: black; /* Changed Style # text color from white to black */
  font-size: 75%;
  text-align: center;
  padding: 10px 14px; /*this adds some spacing around the items in our style footer*/
  text-decoration: none;
}

/* Change the link color to #000 (black) on hover */
#style li a:hover {
  background-color: #ffffff; /* changed hover-over color from black to white for better clarity */
}

#style {
  background-color: #5f7a34;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  padding-top: 10px;
}

#validation {
  font-size: 80%;
  background-color: #FFDE7A; /*changed color to gold*/
  margin: auto;
  text-align: center;
}

/* Rule Change 2/5
This rule uses a nest: Specified li (list-style-type) of the validation id.
It made all of the bullet points for the validation section go away because
otherwise they were formatted weirdly.*/
#validation li{
  list-style-type: none; /*took away bullet points */
}

/* Rule Change 1/5
This rule directly edits a class within card-title.
This individually changes the Validation header to
the same font-family, but smaller font-size as to
not draw too much attention away from the main site,
while still being readable.*/
.card-title{
  font-size: 100%;
  font-family: "Arial Black";
}
