/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{
  padding: 30px;
  background-color: #5f7a34;/* Made background color green-ish*/
}

#main-title{
  color: #FFDE7A;
  font-family: monospace;
  text-align: center;
  font-size: 4rem;
  background-color: #7A0019; /* Made background color maroon*/

}

h2 {
  font-family: "Arial Black";
  text-align: center
}

.section {
  border-radius: 25px;
  padding: 20px;
  border: 2px dotted; /* Make border px to 2, made style dotted */
  margin: auto;
  margin-bottom: 15px; /* Added margin-bottom, to add space between div*/
  max-width: 870px;
}

/*
Used grouping to make the font-family of each section the same.
 */
#pslo, #courses, #faculty, #validation{
  font-family: Arial;
}

#courses {
  background-color: #FFDE7A;
}

#faculty, #pslo {
  background-color: #f9f7f6;
}

#faculty>ul>li {
  display: inline-block;
  padding: 30px;
}

#faculty-list {
  padding-left: 0
}

img.pic {
  height: 150px;
  border: 4px solid #000000;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFDE7A; /* changed color*/
}

#style li {
  float: left; /*changed it to top*/
}

#style li a {
  display: block;
  color: black; /* Changed Style # text color from white to black */
  font-size: 95%;
  text-align: center;
  padding: 12px 16px; /*this adds some spacing around the items in our style footer*/
  text-decoration: none;
}

/* Change the link color to #000 (black) on hover */
#style li a:hover {
  background-color: #ffffff; /* changed hover-over color from black to white for better clarity */
}

#style {
  position: fixed;
  background-color: #7A0019;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}

#validation {
  font-size: 80%;
  background-color: #FFDE7A; /*changed color to gold*/
  margin: auto;
  text-align: center;
}

/*Specified li (list-style-type) of the validation (Nesting) */
#validation li{
  list-style-type: none; /*took away bullet points */
}

/*Directly edited a class within card-title */
.card-title{
  font-size: 100%;
  font-family: "Arial Black";
}
